Researcher-Agent/workflows/CarSalesMarktpositionParsePrompt-8011e495-d42c-f111-88b4-000d3a37e7da/workflow.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "prompt",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Respond_to_the_agent": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "conversationid": {
                  "title": "conversationId",
                  "description": "ParentConversationId",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "kriteriumnr": {
                  "title": "kriteriumNr",
                  "description": "KriteriumNr",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "conversationid": "@{outputs(\u0027Compose_conversationId\u0027)}",
              "kriteriumnr": "@{outputs(\u0027Compose_kriteriumNr\u0027)}"
            }
          },
          "runAfter": {
            "Compose_kriteriumNr": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        },
        "Compose_conversationId": {
          "type": "Compose",
          "inputs": "@trim(substring(triggerBody()?[\u0027text\u0027], add(indexOf(triggerBody()?[\u0027text\u0027], \u0027ParentConversationId:\u0027), 22), 36))",
          "runAfter": {}
        },
        "Compose_kriteriumNr": {
          "type": "Compose",
          "inputs": "@trim(substring(triggerBody()?[\u0027text\u0027], add(indexOf(triggerBody()?[\u0027text\u0027], \u0027Recherchiere Kriterium \u0027), 23), 1))",
          "runAfter": {
            "Compose_conversationId": [
              "SUCCEEDED"
            ]
          }
        }
      },
      "outputs": {},
      "description": "When an agent calls the flow and send back a response."
    }
  },
  "schemaVersion": "1.0.0.0"
}